services:
    web:
        build: .
        command: ["flask", "run", "--host=0.0.0.0", "--port=5000", "--reload"]
        volumes:
            - ./src:/app/src:cached
            - ./data:/app/data
        environment:
            - FLASK_APP=src.app
            - FLASK_ENV=development
            - FLASK_DEBUG=1
