* {
    box-sizing: border-box;
}

body {
    padding: 2rem 5% 1rem;
    background-color: lightcyan;
}

.home {
    margin-top: 0;
}

h1 {
    margin: 0;
}

section {
    margin: 2rem auto;
    border: 1px solid #000;
    background-color: white;
}

.section_header {
    background-color: whitesmoke;
    padding: 0.25rem 1rem;
    border-bottom: 1px solid #000;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.section_header * {
    margin: 0;
    font-size: 1.25rem;
}

.section_content {
    width: calc(100% - 0.5rem);
    margin: 0.5rem auto;
}

.file_contents_line {
    padding-inline: 1rem;
    word-break: break-all;
    white-space: pre-wrap;
    display: block;
}

.file_contents_nodisplay {
    text-align: center;
    opacity: 0.75;
    width: 100%;
    display: block;
}

footer {
    text-align: center;
}

@keyframes spin {
    form {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.spinner {
    width: 1rem;
    aspect-ratio: 1;
    border: 2px dotted #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: 1.5s ease-in-out 100ms infinite normal spin;
    margin: 0 0.5rem;
    visibility: hidden;
    /* to enable manually */
}

.error_msg {
    background-color: rgba(255, 0, 0, 0.33);
    padding: 0.25em 0.5rem;
    border-radius: 0.125rem;
    width: fit-content;
}

.error_msg:empty {
    visibility: hidden;
}

.table_display {
    width: 100%;
    border: 1px solid #000;
    text-align: center;
}

.table_display :is(td, th) {
    border: 1px solid #000;
}

.status_success {
    color: green;
}

.status_pending {
    color: grey;
}

.status_violation {
    color: coral;
}

.status_failed {
    color: crimson;
}

.pager > * {
    display: inline-block;
    margin-inline: 0.25rem;
}
