* {
    box-sizing: border-box;
}

:root {
    --text-50: #f4f2f0;
    --text-100: #e9e5e2;
    --text-200: #d3cbc5;
    --text-300: #bdb0a8;
    --text-400: #a7968b;
    --text-500: #917c6e;
    --text-600: #746358;
    --text-700: #574a42;
    --text-800: #3a322c;
    --text-900: #1d1916;
    --text-950: #0f0c0b;

    --background-50: #f4f2f0;
    --background-100: #e9e4e2;
    --background-200: #d3cac5;
    --background-300: #bdafa8;
    --background-400: #a7948b;
    --background-500: #917a6e;
    --background-600: #746158;
    --background-700: #574942;
    --background-800: #3a312c;
    --background-900: #1d1816;
    --background-950: #0f0c0b;

    --primary-50: #fff1e5;
    --primary-100: #ffe2cc;
    --primary-200: #ffc599;
    --primary-300: #ffa866;
    --primary-400: #ff8b33;
    --primary-500: #ff6e00;
    --primary-600: #cc5800;
    --primary-700: #994200;
    --primary-800: #662c00;
    --primary-900: #331600;
    --primary-950: #1a0b00;

    --secondary-50: #f4f3f1;
    --secondary-100: #e9e8e2;
    --secondary-200: #d2d0c6;
    --secondary-300: #bcb9a9;
    --secondary-400: #a5a28d;
    --secondary-500: #8f8a70;
    --secondary-600: #726f5a;
    --secondary-700: #565343;
    --secondary-800: #39372d;
    --secondary-900: #1d1c16;
    --secondary-950: #0e0e0b;

    --accent-50: #f4f4f1;
    --accent-100: #e9e8e2;
    --accent-200: #d3d2c5;
    --accent-300: #bcbba9;
    --accent-400: #a6a48c;
    --accent-500: #908e6f;
    --accent-600: #737159;
    --accent-700: #565543;
    --accent-800: #3a392c;
    --accent-900: #1d1c16;
    --accent-950: #0e0e0b;
}

body {
    margin: 0;
    font-family: "Noto Sans Yi", sans-serif;
    font-weight: 400;
    background-color: var(--background-950);
    color: var(--text-50);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
} /* 16px */

h1 {
    margin: 0;
    font-size: 2.489rem; /* 39.84px */
}

h2 {
    font-size: 2.074rem; /* 33.12px */
}

h3 {
    font-size: 1.728rem; /* 27.68px */
}

h4 {
    font-size: 1.44rem; /* 23.04px */
}

h5 {
    font-size: 1.2rem; /* 19.2px */
}

small {
    font-size: 0.833rem; /* 13.28px */
}

input,
select,
textarea,
button {
    font-family: inherit;
}

a {
    cursor: pointer;
    color: var(--primary-500);
    transition: 125ms ease-in;
}

a:hover {
    filter: drop-shadow(0 0 0.125rem var(--primary-800));
}

button,
a.buttonlike {
    background-color: var(--accent-900);
    border: 1px solid var(--secondary-700);
    padding: 0.5em 0.75em;
    border-radius: 0.5rem;
    color: inherit;
    cursor: pointer;
    transition: 125ms ease-in;
    font-size: 0.9rem;
}

button:hover,
a.buttonlike:hover {
    background-color: var(--accent-700);
    border-color: var(--secondary-500);
}

button:disabled {
    background-color: var(--accent-950);
    border-color: var(--secondary-800);
    opacity: 0.75;
    cursor: default;
}

a.buttonlike {
    text-decoration: none;
}

a.buttonlike:hover {
    filter: none;
}

button.primary,
a.buttonlike.primary {
    background-color: var(--accent-700);
    border-color: var(--secondary-500);
}

button.primary:hover,
a.buttonlike.primary:hover {
    background-color: var(--accent-600);
    border-color: var(--secondary-400);
}

button.primary:disabled {
    background-color: var(--accent-800);
    border-color: var(--secondary-600);
    opacity: 0.75;
}

input,
select,
textarea {
    background-color: var(--secondary-950);
    color: var(--text-50);
    border: 1px solid var(--secondary-700);
    border-radius: 0.5rem;
    max-width: 25rem;
}

hr {
    border-color: var(--secondary-700);
}

/* --- base --- */

.wrap {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

.subscript {
    margin: 0 auto;
    color: var(--accent-400);
}

.tag {
    color: var(--secondary-400);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--secondary-800);
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 2.25rem;
    text-decoration: none;
}

header .logo img {
    width: 1.5em;
    aspect-ratio: 1;
    filter: drop-shadow(0 0 0.25rem var(--primary-700));
}

header nav {
    display: none;
}

#menu_toggle {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_toggle svg {
    fill: var(--text-50);
}

header nav.open {
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--background-900);
    inset: 0;
    z-index: 100;
    text-align: center;
    animation: 125ms ease-in slide-in;
}

header .backdrop {
    display: none;
}

header nav.open + .backdrop {
    display: block;
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: black;
    opacity: 0.8;
    inset: 0;
}

header nav.open a {
    padding: 0.75rem;
    width: 100%;
    border-bottom: 1px solid var(--secondary-600);
}

main {
    padding: 0.75rem 1.25rem;
}

main > * {
    margin-inline: auto;
    max-width: 80rem;
}

section {
    margin: 2rem auto;
    border: 1px solid var(--secondary-800);
    border-radius: 0.375rem;
    background-color: var(--background-900);
    overflow: hidden;
}

.section_header {
    background-color: var(--secondary-700);
    padding: 0.25rem 1rem;
    border-bottom: 1px solid var(--secondary-800);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_header h2 {
    font-size: 1.25rem;
    margin: 0;
    display: inline;
}

.section_content {
    width: calc(100% - 0.5rem);
    margin: 0.5rem auto;
    overflow-x: auto;
}

.section_list {
    padding: 0;
    height: fit-content;
    margin: 0;
}

.section_list li {
    padding: 0.5rem;
    border-bottom: 1px solid var(--secondary-700);
    list-style: none;
    transition: 100ms ease-out;
}

.section_list li:last-child {
    border-bottom: none;
}

.section_list li:nth-child(2n) {
    background-color: var(--secondary-950);
}

.section_list li:has(a:hover) {
    background-color: var(--background-800);
}

.section_list li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    color: var(--text-50);
    text-decoration: none;
}

.markdown {
    padding: 0.5rem;
}

footer {
    padding: 0.75rem;
    width: 100%;
    border-top: 1px solid var(--secondary-800);
    text-align: center;
    font-size: 80%;
}

.centered {
    text-align: center;
}

.file_contents_line {
    font-family: "Google Sans Code", monospace;
    padding-inline: 1rem;
    word-break: break-all;
    white-space: pre-wrap;
    display: block;
}

.spinner {
    width: 2rem;
    aspect-ratio: 1;
    border: 3px dotted var(--accent-500);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: 1.5s ease-in-out 100ms infinite normal spin;
    margin: 0 0.5rem;
}

.spinner.hidden {
    display: none;
}

.error_msg {
    background-color: rgba(255, 0, 0, 0.33);
    padding: 0.5rem 4rem;
    border-radius: 0.5rem;
    width: fit-content;
    text-align: center;
    margin: auto;
}

.error_msg:empty {
    display: none;
}

.empty_msg {
    text-align: center;
    display: block;
    color: var(--accent-200);
}

.table_display {
    width: 100%;
    background-color: var(--secondary-700);
    border-radius: 0.25rem;
    text-align: center;
}

.table_display th {
    font-weight: bold;
    background-color: var(--accent-500);
}

.table_display tr {
    background-color: var(--background-900);
}

.table_display tr:nth-child(2n) {
    background-color: var(--secondary-950);
}

.status_success {
    color: green;
}

.status_pending {
    color: grey;
}

.status_violation {
    color: coral;
}

.status_failed {
    color: crimson;
}

.pager > * {
    display: inline-block;
    margin-inline: 0.25rem;
}

form.standalone {
    background-color: var(--background-900);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--secondary-700);
    margin: 1rem auto;
    text-align: center;
}

form .field {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.75rem auto;
    max-width: 60rem;
}

form .field label {
    width: max(5%, max-content);
    text-align: center;
}

form .field :is(input, select, textarea) {
    width: 100%;
}

form .field textarea {
    height: 7.5rem;
    resize: vertical;
    min-height: 3rem;
    max-height: 30rem;
}

form.standalone > button {
    margin: 0.5rem auto;
    display: block;
}

/* --- media --- */

.desktop {
    visibility: collapse;
    width: 0;
    height: 0;
}

@media (width >= 1000px) {
    .mobile {
        visibility: collapse;
        width: 0;
        height: 0;
    }

    .desktop {
        visibility: visible;
        width: auto;
        height: auto;
    }

    header {
        padding-inline: 2rem;
    }

    header nav {
        display: flex;
        gap: 1rem;
        text-align: center;
        align-items: center;
    }

    header nav a {
        width: max-content;
    }
}

/* --- keyframes --- */

@keyframes slide-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes spin {
    form {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
