* {
    box-sizing: border-box;
}

body {
    padding: 2rem 5% 1rem;
    background-color: lightcyan;
}

.home {
    margin-top: 0;
}

h1 {
    margin: 0;
}

section {
    margin: 2rem auto;
    border: 1px solid #000;
    background-color: white;
}

.section_header {
    background-color: whitesmoke;
    padding: 0.25rem 1rem;
    border-bottom: 1px solid #000;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.section_header * {
    margin: 0;
    font-size: 1.25rem;
}

.file_contents {
    margin-bottom: 0.5rem;
}

.file_contents_line {
    padding-inline: 1rem;
    white-space: pre-wrap;
    display: block;
}

.file_contents_nodisplay {
    text-align: center;
    opacity: 0.75;
    width: 100%;
    display: block;
}

footer {
    text-align: center;
}
