<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Repos | Admin | Git Glimpse</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/global.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/admin.css')}}"
        />
        <script src="{{url_for('static', filename='js/filters_reset.js')}}" defer></script>
        {% from "components/table_repos.html" import table_repos %}
    </head>
    <body>
        <header>
            <h1>Admin - Repos</h1>
            <nav>
                <a href="/dashboard">Dashboard</a>
                <a href="/admin">Admin</a>
                <a href="/admin/users">Users</a>
                <a href="/admin/builds">Builds</a>
            </nav>
        </header>
        <main>
            <section>
                <div class="section_header">
                    <h2>Filters</h2>
                </div>
                <div class="section_content">
                    <form action="/admin/repos" method="get" class="filters">
                        <label for="status">Status: </label>
                        <select name="status" id="status">
                            <option value="" {{'selected' if status=="" else ''}}>any</option>
                            <option value="s" {{'selected' if status=="s" else ''}}>success</option>
                            <option value="p" {{'selected' if status=="p" else ''}}>pending</option>
                            <option value="r" {{'selected' if status=="r" else ''}}>running</option>
                            <option value="f" {{'selected' if status=="f" else ''}}>failed</option>
                            <option value="v" {{'selected' if status=="v" else ''}}>violation</option>
                        </select>
                        <label for="key">Has key: </label>
                        <select name="key" id="key">
                            <option value="" {{'selected' if key=="" else ''}}>any</option>
                            <option value="1" {{'selected' if key=="1" else ''}}>yes</option>
                            <option value="0" {{'selected' if key=="0" else ''}}>no</option>
                        </select>
                        <label for="repo">Repo id: </label>
                        <input type="text" name="repo" id="repo" value="{{repo}}" minlength="22" maxlength="22">
                        <label for="user">Owner: </label>
                        <input type="text" name="user" id="user" value="{{user}}">
                        <label for="url">Url: </label>
                        <input type="text" name="url" id="url" value="{{url}}">
                        <hr>
                        <!-- TODO: fix reset -->
                        <button type="reset" >Reset</button>
                        <button type="submit">Apply</button>
                    </form>
                </div>
            </section>

            <section>
                <div class="section_header">
                    <h2>Builds</h2>

                    <div class="pager">
                        <form action="/admin/repos">
                            <input type="hidden" name="status" value="{{status}}">
                            <input type="hidden" name="user" value="{{user}}">
                            <input type="hidden" name="repo" value="{{repo}}">
                            <input type="hidden" name="url" value="{{url}}">
                            <input type="hidden" name="key" value="{{key}}">
                            <input
                                type="hidden"
                                name="page"
                                value="{{page-1}}"
                            /><button
                                type="submit"
                                {{'disabled' if page <= 0 else ''}}
                            >
                                Previous
                            </button>
                        </form>
                        <form action="/admin/repos" method="get">
                            <input type="hidden" name="status" value="{{status}}">
                            <input type="hidden" name="user" value="{{user}}">
                            <input type="hidden" name="repo" value="{{repo}}">
                            <input type="hidden" name="url" value="{{url}}">
                            <input type="hidden" name="key" value="{{key}}">
                            <input
                                type="hidden"
                                name="page"
                                value="{{page+1}}"
                            /><button
                                type="submit"
                                {{'disabled' if is_last else ''}}
                            >
                                Next
                            </button>
                        </form>
                        <span>Page: {{page}}</span>
                    </div>
                </div>
                <div class="section_content">{{ table_repos(repos) }}</div>
            </section>
        </main>
        <footer>
            Made by:
            <a
                href="http://github.com/sutaC"
                target="_blank"
                rel="noopener noreferrer"
                >sutaC</a
            >
        </footer>
    </body>
</html>
