{% extends "base.html" %}
<!-- prettier-ignore -->
{% from "macros/table_builds.html" import table_builds %}
<!-- prettier-ignore -->
{% block title %}Admin | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block nav %}
<a href="/dashboard">Dashboard</a>
<a href="/admin/users">Users</a>
<a href="/admin/repos">Repos</a>
<a href="/admin/builds">Builds</a>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1>Admin</h1>
<section>
    <div class="section_header">
        <h2>Summary</h2>
    </div>
    <div class="section_content">
        <p>
            <span class="tag">Total users:</span>
            {{user_count}}
        </p>
        <p>
            <span class="tag">Total repos:</span>
            {{repo_count}}
        </p>
        <p>
            <span class="tag">Total builds in last 24h:</span>
            {{build_24h_count}}
        </p>
        <p>
            <span class="tag">Total builds in last 7d:</span>
            {{build_7d_count}}
        </p>
        <p>
            <span class="tag">Total build sizes:</span>
            {{build_sum_size}}
        </p>
        <p>
            <span class="tag">Total build archive sizes:</span>
            {{build_sum_archive_size}}
        </p>
        <p>
            <span class="tag">Total extracted size:</span>
            {{extracted_size}}
        </p>
        <p>
            <span class="tag">Total computed size:</span>
            {{total_computed_size}}
        </p>
    </div>
</section>
<section>
    <div class="section_header">
        <h2>Last cleanup</h2>
    </div>
    <div class="section_content">
        {% if cleanup_data %}

        <p>
            <span class="tag">Started:</span>
            {{cleanup_data.satarted}}
        </p>
        <p>
            <span class="tag">Duration:</span>
            {{cleanup_data.duration}}ms
        </p>
        <p>
            <span class="tag">Removed repos:</span>
            {{cleanup_data.cl_repos}}
        </p>
        <p>
            <span class="tag">Removed extracted:</span>
            {{cleanup_data.cl_extracted}}
        </p>
        <p>
            <span class="tag">Removed builds:</span>
            {{cleanup_data.cl_builds}}
        </p>
        <p>
            <span class="tag">Removed sessions:</span>
            {{cleanup_data.cl_session}}
        </p>
        <p>
            <span class="tag">Removed tokens:</span>
            {{cleanup_data.cl_tokens}}
        </p>
        <p>
            <span class="tag">Removed repo views:</span>
            {{cleanup_data.cl_repo_views}}
        </p>
        <p>
            <span class="tag">Users flaggled inactive:</span>
            {{cleanup_data.cl_flag_inactive_users}}
        </p>
        <p>
            <span class="tag">Removed inactive users repo artifacts:</span>
            {{cleanup_data.cl_inactive_users_repos}}
        </p>
        {% else %}
        <small class="empty_msg">No cleanup data was found</small>
        {% endif %}
        <form action="/admin/cleanup" method="post">
            <button type="submit">Force cleanup</button>
        </form>
    </div>
</section>
<section>
    <div class="section_header">
        <h2>Latest activity</h2>
    </div>
    <div class="section_content">{{ table_builds(latest_activity) }}</div>
</section>
{% endblock %}
