{% extends "base.html" %}
<!-- prettier-ignore -->
{% from "macros/table_builds.html" import table_builds %}
{% from "macros/pager.html" import pager %}
<!-- prettier-ignore -->
{% block title %}Builds | Admin | Git Glimpse{% endblock %}
<!-- prettier-ignore -->
{% block head %} 
<script src="{{url_for('static', filename='js/activity_display.js')}}" defer></script>
{% endblock %}

<!-- prettier-ignore -->
{% block nav %} 
<a href="/dashboard">Dashboard</a>
<a href="/admin">Admin</a>
<a href="/admin/users">Users</a>
<a href="/admin/repos">Repos</a> 
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1>Admin</h1>
<p class="subscript">Builds</p>
<section>
    <div class="section_header">
        <h2>Filters</h2>
    </div>
    <div class="section_content">
        <form action="/admin/builds" method="get">
            <div class="field">
                <label for="status">Status:</label>
                <select name="status" id="status">
                    <option value="" {{'selected' if status=="" else ''}}>any</option>
                    <option value="s" {{'selected' if status=="s" else ''}}>success</option>
                    <option value="p" {{'selected' if status=="p" else ''}}>pending</option>
                    <option value="r" {{'selected' if status=="r" else ''}}>running</option>
                    <option value="f" {{'selected' if status=="f" else ''}}>failed</option>
                    <option value="v" {{'selected' if status=="v" else ''}}>violation</option>
                </select>
            </div>
            <div class="field">
                <label for="repo">RepoID:</label>
                <input type="text" name="repo" id="repo" value="{{repo}}" minlength="22" maxlength="22">
            </div>
            <div class="field">
                <label for="user">Login:</label>
                <input type="text" name="user" id="user" value="{{user}}">
            </div>
            <div class="field">
                <label for="code">Code:</label>
                <input type="text" name="code" id="code" value="{{code or ''}}">
            </div>
            <div class="field">
                <button type="reset" >Reset</button>
                <button type="submit">Apply</button>
            </div>
        </form>
    </div>
</section>

<section>
    <div class="section_header" aria-labelledby="hDisplay">
        <h2 id="hDisplay">Builds</h2>
        {{ pager(page, is_last) }}
    </div>
    <div class="section_content">{{ table_builds(builds) }}</div>
</section>
{% endblock %}
