{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Banned | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1>Banned</h1>
<p>Your account '{{g.user.login}}' have been banned from Git Glimpse.</p>
{% if ban_reason %}
<p>Reason: {{ban_reason}}</p>
{% endif %}
<p>Date: {{banned_at}}</p>
<p>
    If you believe this is a mistake, {% if contact %}
    <a href="mailto:{{contact}}">contact support</a>
    {% else %}contact support{% endif %}.
</p>
<p><a href="/logout">Logout</a></p>
{% endblock %}
