<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard | Git Glimpse</title>

        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/global.css')}}"
        />
    </head>
    <body>
        <header>
            <h1>Dashboard - {{g.user.login}}</h1>
            <a href="/">Home</a>
            <a href="/user">User</a>
            {% if is_admin %}
            <a href="/admin">Admin</a>
            {% endif %}
            <a href="/repo/add">Add</a>
            <a href="/logout">Logout</a>
        </header>
        <main>
            <p>Repos limit: {{repo_count}}/{{repo_limit}}</p>
            <p>User builds limit: {{user_build_count}}/{{builds_user_limit}}</p>
            <h2>Repos</h2>
            <ul>
                {% for id, name in repos %}
                <li>
                    <a href="/repo/{{id|urlencode}}/">{{name}}</a> --
                    <a href="/repo/details/{{id|urlencode}}">Details</a>
                </li>
                {% endfor %}
            </ul>
            {% if not repos %}
            <small>No repos yet!</small>
            {% endif %}
        </main>
        <footer>
            Made by:
            <a
                href="http://github.com/sutaC"
                target="_blank"
                rel="noopener noreferrer"
                >sutaC</a
            >
        </footer>
    </body>
</html>
