<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard | Git Glimpse</title>

        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/global.css')}}"
        />
    </head>
    <body>
        <header>
            <h1>Dashboard - {{g.user.login}}</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/user">User</a>
                {% if g.user.is_verified %} {% if is_admin %}
                <a href="/admin">Admin</a>
                {% endif %}
                <a href="/repos/add">Add</a>
                {% endif %}
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <main>
            {% if not g.user.is_verified %}
            <h2><a href="/verify">Verify your account</a></h2>
            {% endif %}
            <section>
                <div class="section_header">
                    <h2>Repos</h2>
                </div>
                <div class="section_content">
                    <ul>
                        {% for id, name in repos %}
                        <li>
                            <a href="/repos/{{id|urlencode}}/">{{name}}</a> --
                            <a href="/repos/details/{{id|urlencode}}"
                                >Details</a
                            >
                        </li>
                        {% endfor %}
                    </ul>
                    {% if not repos %}
                    <small>No repos yet!</small>
                    {% endif %}
                </div>
            </section>
        </main>
        <footer>
            Made by:
            <a
                href="http://github.com/sutaC"
                target="_blank"
                rel="noopener noreferrer"
                >sutaC</a
            >
        </footer>
    </body>
</html>
