{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Dashboard | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block nav %}
<a href="/user">Profile</a>
<a href="/views">Views</a>
{% if g.user.is_verified %} {% if (g.user.role == 'a') %}
<a href="/admin">Admin</a>
{% endif %}
<a href="/repos/add">Add repository</a>
{% endif %} {% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1>Dashboard - {{g.user.login}}</h1>
{% if not g.user.is_verified %}
<h2><a href="/verify">Verify your account</a></h2>
{% endif %}
<section>
    <div class="section_header">
        <h2>Repos</h2>
    </div>
    <div class="section_content">
        <ul>
            {% for id, name in repos %}
            <li>
                <a href="/repos/details/{{id|urlencode}}">{{name}}</a>
            </li>
            {% endfor %}
        </ul>
        {% if not repos %}
        <small>No repos yet!</small>
        {% endif %}
    </div>
</section>
{% endblock %}
