<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{repo_name}} | Details | Git Glimpse</title>

        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/global.css')}}"
        />
    </head>
    <body>
        <header>
            <h1>
                Details -
                <a href="/repo/{{repo_id|urlencode}}">{{repo_name}}</a>
            </h1>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
        </header>
        <main>
            <p>Name: {{repo_name}}</p>
            <p>URL: {{url}}</p>
            <p>Created at: {{created}}</p>
            <p>Last build at: {{build_timestamp}}</p>
            <p>Size: {{build_size}}</p>
            <p>
                <a href="/repo/build/{{repo_id|urlencode}}">Build</a> (repo
                builds limit: {{repo_build_count}}/{{builds_repo_limit}})
            </p>
            <p>
                <a href="/repo/remove/{{repo_id|urlencode}}">Remove</a>
            </p>
        </main>
        <footer>
            Made by:
            <a
                href="http://github.com/sutaC"
                target="_blank"
                rel="noopener noreferrer"
                >sutaC</a
            >
        </footer>
    </body>
</html>
