<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Password recovery | Git Glimpse</title>

        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/global.css')}}"
        />
    </head>
    <body>
        <header>
            <h1>Password recovery</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/login">Login</a>
            </nav>
        </header>
        <main>
            {% if resp %}
            <p>If an account exists for this email, you’ll receive a message</p>
            {% else %}
            <form action="/password/recover" method="post">
                <p>
                    Provide email attached to your account and email will be
                    send to recover your password
                </p>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required />
                <button type="submit">Send</button>
            </form>
            {% endif %}
        </main>
        <footer>
            Made by:
            <a
                href="http://github.com/sutaC"
                target="_blank"
                rel="noopener noreferrer"
                >sutaC</a
            >
        </footer>
    </body>
</html>
