{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Change password | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block nav %}
<a href="/dashboard">Dashboard</a>
<a href="/user">Profile</a>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1 class="centered">Change password</h1>
<form action="/password/change" method="post" class="standalone">
    <p class="error_msg">{{error_msg}}</p>
    <div class="field">
        <label for="c_password">Current password:</label>
        <input type="password" name="c_password" id="c_password" required />
    </div>
    <div class="field">
        <label for="n_password">New password:</label>
        <input type="password" name="n_password" id="n_password" required />
    </div>
    <div class="field">
        <label for="r_password">Repeat new password:</label>
        <input type="password" name="r_password" id="r_password" required />
    </div>
    <button type="submit">Change password</button>
</form>
<small class="empty_msg">This action will logout all current sessions</small>
{% endblock %}
