{% extends "base.html" %}
<!-- prettier-ignore -->
{% from "macros/csrf_field.html" import csrf_field %}
<!-- prettier-ignore -->
{% block title %}Password reset | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1 class="centered">Password reset for {{login}}</h1>
<form action="/password/reset?t={{token}}" method="post" class="standalone">
    {{ csrf_field() }}
    <p class="error_msg">{{error_msg}}</p>
    <input
        type="text"
        name="username"
        autocomplete="username"
        style="display: none"
        value="{{login}}"
    />
    <div class="field">
        <label for="password">New password:</label>
        <input type="password" name="password" id="password" required autocomplete="new-password" />
    </div>
    <div class="field">
        <label for="r_password">Repeat new password:</label>
        <input
            type="password"
            name="r_password"
            id="r_password"
            required
            autocomplete="new-password"
        />
    </div>
    <button type="submit">Change password</button>
</form>
<small class="empty_msg">This action will logout all current sessions</small>
{% endblock %}
