{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Password reset | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1 class="centered">Password reset for {{login}}</h1>
<form action="/password/reset?t={{token}}" method="post" class="standalone">
    <p class="error_msg">{{error_msg}}</p>
    <div class="field">
        <label for="password">New password:</label>
        <input type="password" name="password" id="password" required />
    </div>
    <div class="field">
        <label for="r_password">Repeat new password:</label>
        <input type="password" name="r_password" id="r_password" required />
    </div>
    <button type="submit">Change password</button>
</form>
<small class="empty_msg">This action will logout all current sessions</small>
{% endblock %}
