<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Password change | Git Glimpse</title>

        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/global.css')}}"
        />
    </head>
    <body>
        <header>
            <h1>Password change</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/user">User</a>
            </nav>
        </header>
        <main>
            <form action="/password/change" method="post">
                <p class="error_msg">{{error_msg}}</p>
                <label for="c_password">Current password:</label>
                <input
                    type="password"
                    name="c_password"
                    id="c_password"
                    required
                />
                <label for="n_password">New password:</label>
                <input
                    type="password"
                    name="n_password"
                    id="n_password"
                    required
                />
                <label for="r_password">Repeat new password:</label>
                <input
                    type="password"
                    name="r_password"
                    id="r_password"
                    required
                />
                <button type="submit">Change password</button>
            </form>
            <small>This action will logout all current sessions</small>
        </main>
        <footer>
            Made by:
            <a
                href="http://github.com/sutaC"
                target="_blank"
                rel="noopener noreferrer"
                >sutaC</a
            >
        </footer>
    </body>
</html>
