{% extends "base.html" %}
<!-- prettier-ignore -->
{% from "macros/csrf_field.html" import csrf_field %}
<!-- prettier-ignore -->
{% block title %}Password recovery | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block nav %}
<a href="/login">Login</a>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1 class="centered">Password recovery</h1>
{% if resp %}
<p class="centered">If an account exists for this email, you’ll receive a message</p>
{% else %}
<form action="/password/recover" method="post" class="standalone">
    {{ csrf_field() }}
    <p>Provide email attached to your account and email will be send to recover your password</p>
    <div class="field">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required autocomplete="email" />
    </div>
    <button type="submit">Send</button>
</form>
{% endif %} {% endblock %}
