<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register | Git Glimpse</title>

        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/global.css')}}"
        />
    </head>
    <body>
        <header>
            <h1>Register</h1>
            <nav>
                <a href="/">Home</a>
            </nav>
        </header>
        <main>
            <form action="/register" method="post">
                <label for="login">Login:</label>
                <input type="text" name="login" id="login" />
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" />
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" />
                <label for="r_password">Repeat password:</label>
                <input type="password" name="r_password" id="r_password" />
                <button type="submit">Register</button>
            </form>
            <p>Have an account?<a href="/login">Login</a>!</p>
        </main>
        <footer>
            Made by:
            <a
                href="http://github.com/sutaC"
                target="_blank"
                rel="noopener noreferrer"
                >sutaC</a
            >
        </footer>
    </body>
</html>
