{% extends "base.html" %}
<!-- prettier-ignore -->
{% from "macros/section_file.html" import section_file %}
<!-- prettier-ignore -->
{% from "macros/section_dir.html" import section_dir %}
<!-- prettier-ignore -->
{% block title %}{{section.name}} | {{repo_name}} | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block nav %} 
{% if g.user %}
<a href="/dashboard">Dashboard</a>
{% else %}
<a href="/login">Login</a>
<a href="/register">Register</a>
<!-- prettier-ignore -->
{% endif %} 
{% endblock %}

{% block content %}
<h1 class="curr_path">
    <!-- prettier-ignore -->
    {% if section.is_root %}
    {{repo_name}}
    {% else %}
    <a href="/repos/{{repo_id}}/">{{repo_name}}</a>
    <!-- prettier-ignore -->
    {% endif %}
    {% for parent in parent_chain %} 
    /
    <a href="/repos/{{repo_id}}/{{parent|urlencode}}">{{parent.rsplit('/',1)[-1]}}</a>
    {% endfor %}
    <!-- prettier-ignore -->
    {% if not section.is_root %} / {{section.name}} {% endif %}
</h1>
<!-- prettier-ignore -->
{% if section.type == "dir" %} 
    {{ section_dir(section, repo_id, repo_name) }}
    {% set readme = section.find_readme_child() %}
    {% if readme %}
    {{ section_file(readme) }}
    {% endif %}
{% elif section.type == "file" %} 
    {{ section_file(section) }} 
{% endif %}
{% endblock %}
