<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/global.css')}}"
        />
        <title>
            {{path_str+' | ' if path_str else '' }}{{repo_name}} | Git Glimpse
        </title>
        {% from "components/section_file.html" import section_file %} {% from
        "components/section_dir.html" import section_dir %}
    </head>
    <body>
        <header>
            <h1 class="curr_path">
                {% if path_str %}
                <a href="/repo/{{id|urlencode}}/">{{repo_name}}</a>
                {% else %} {{repo_name}} {% endif %} {% for parent in
                parent_chain %} /
                <a href="/repo/{{id|urlencode}}/{{parent|urlencode}}"
                    >{{parent.rsplit('/',1)[-1]}}</a
                >
                {% endfor %} {% if path_str %} / {{path.name}} {%endif%}
            </h1>
        </header>
        <main>
            {% if path.is_dir() %} {{ section_dir(path, id, parent_chain,
            repo_name, path_str) }} {% elif path.is_file() %} {{
            section_file(path, id, parent_chain, is_text) }} {% endif %}
        </main>
        <footer>
            Made by:
            <a
                href="http://github.com/sutaC"
                target="_blank"
                rel="noopener noreferrer"
                >sutaC</a
            >
        </footer>
    </body>
</html>
