<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add | Git Glimpse</title>

        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/global.css')}}"
        />
    </head>
    <body>
        <header>
            <h1>Add new repo</h1>
            <nav>
                <a href="/dashboard">Dashboard</a>
            </nav>
        </header>
        <main>
            <form action="/repos/add" method="post">
                <label for="url">Url:</label>
                <input type="text" name="url" id="url" />
                <label for="ssh_key">Key:</label>
                <textarea name="ssh_key" id="ssh_key"></textarea>
                <button type="submit">Add</button>
                {# TODO disable on max limit #}
            </form>
        </main>
    </body>
    <footer>
        Made by:
        <a
            href="http://github.com/sutaC"
            target="_blank"
            rel="noopener noreferrer"
            >sutaC</a
        >
    </footer>
</html>
