<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/global.css')}}"
        />
        <title>
            {{pathname+' | ' if pathname else '' }}{{name}} | Git Glimpse
        </title>
    </head>
    <body>
        <header>
            <h1 class="curr_path">
                {% if pathname %}
                <a href="/repo/{{id}}/">{{name}}</a>
                {% else %} {{name}} {% endif %} {% for child in parentchain %} /
                <a
                    href="/repo/{{id}}/{{'/'.join(parentchain[:parentchain.index(child)+1])}}"
                    >{{child}}</a
                >
                {% endfor %} {% if pathname %} / {{path.name}} {%endif%}
            </h1>
        </header>
        <main>
            {% if path.is_dir() %}
            <section class="dir">
                <h2 class="file_header">
                    {% if pathname %} {{path.name}} {% else %} {{name}} {% endif
                    %}
                </h2>
                <ul class="dir_contents">
                    {% if pathname %}
                    <li class="dir_contents_child"><a href="..">..</a></li>
                    {% endif %} {% for child in path.iterdir() %} {% if
                    child.name != ".git" %}
                    <li>
                        <a
                            href="{{child.name}}{{'/' if child.is_dir() else ''}}"
                            >{{"dir: " if child.is_dir() else "file:
                            "}}{{child.name}}</a
                        >
                    </li>
                    {% endif %} {% endfor %}
                </ul>
            </section>
            {% elif path.is_file() %}
            <section class="file">
                <h2 class="file_header">
                    {% if pathname %} {{path.name}} {% else %} {{name}} {% endif
                    %}
                </h2>
                <div class="file_contents">
                    {% for line in path.read_text().split('\n') %}
                    <span class="file_contents_line"
                        >{{line if line else ' '}}</span
                    >
                    {% endfor %}
                </div>
            </section>
            {% endif %}
        </main>

        <footer>
            Made by:
            <a
                href="http://github.com/sutaC"
                target="_blank"
                rel="noopener noreferrer"
                >sutaC</a
            >
        </footer>
    </body>
</html>
