{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Add repository | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block nav %} 
<a href="/dashboard">Dashboard</a>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1>Add new repository</h1>
<form action="/repos/add" method="post">
    <p class="error_msg">{{error_msg}}</p>
    <label for="url">Url:</label>
    <input type="text" name="url" id="url" value="{{url}}" required />
    <label for="ssh_key">Key:</label>
    <textarea name="ssh_key" id="ssh_key"></textarea>
    <button type="submit" {{"disabled" if is_blocked else ""}}>Add</button>
</form>
{% endblock %}
