<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {{pathname+' | ' if pathname else '' }}{{name}} | Git Glimpse
        </title>
    </head>
    <body>
        <main>
            <h1>
                {% if pathname %}
                <a href="{{'.'*(patentchain.__len__()+1)}}">{{name}}</a>
                {% else %} {{name}} {% endif %} {% for child in parentchain %} /
                <a
                    href="{{'.'*(patentchain.__len__()-parentchain.index(child)-1)}}"
                    >{{child}}</a
                >
                {% endfor %} {% if pathname %} / {{pathname}} {%endif%}
            </h1>
            {% if path.is_dir() %}
            <ul>
                {% if pathname %}
                <li><a href=".">..</a></li>
                {% endif %}
                <!--  -->
                {% for child in path.iterdir() %}
                <li>
                    <a href="{{child.name}}"
                        >{{"dir: " if child.is_dir() else "file:
                        "}}{{child.name}}</a
                    >
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </main>
    </body>
</html>
