<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User | Git Glimpse</title>

        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/global.css')}}"
        />
    </head>
    <body>
        <header>
            <h1>User - {{user_login}}</h1>
            <nav>
                <a href="/dashboard">Dashboard</a>
            </nav>
        </header>
        <main>
            <p>Role: {{role}}</p>
            <p>
                Email: {{email or "?"}} ({{"verified" if is_verified else "not
                verified"}})
            </p>
            <p>Build quota: {{build_count}}/{{build_limit}}</p>
            <p>Repo limit: {{repo_count}}/{{repo_limit}}</p>
            {% if user_login != "root" %}
            <p><a href="/user/remove">Remove account</a></p>
            {% endif %}
        </main>
        <footer>
            Made by:
            <a
                href="http://github.com/sutaC"
                target="_blank"
                rel="noopener noreferrer"
                >sutaC</a
            >
        </footer>
    </body>
</html>
