{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Profile | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block nav %}
<a href="/dashboard">Dashboard</a>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1>Profile - {{g.user.login}}</h1>
<p>Role: {{role}}</p>
<p>
    Email: {{email or "-"}} {{"" if not email else "(verified)" if g.user.is_verified else "(not
    verified)"}}
</p>
<p>Repo quota: {{repo_count}}/{{repo_limit}}</p>
<p>Build quota: {{build_count}}/{{build_limit}}</p>
<p><a href="/logout">Logout</a></p>
{% if g.user.is_verified and g.user.login != "root" %}
<p><a href="/password/change">Change password</a></p>
{% endif %} {% if g.user.login != "root" %}
<p><a href="/user/remove">Remove account</a></p>
{% endif %}{% endblock %}
