{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Remove account | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block nav %}
<a href="/dashboard">Dashboard</a>
<a href="/user">Profile</a>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1>Remove account - {{user_login}}</h1>
{% if user_login != "root" %}
<form action="/user/remove" method="POST">
    <div class="field">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
    </div>
    <button type="submit">Remove account</button>
</form>
{% else %}
<p>Cannot remove root user</p>
{% endif %}{% endblock %}
