{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Verify | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block nav %} 
<a href="/dashboard">Dashboard</a>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1 class="centered">Verify account <span class="tag">'{{g.user.login}}'</span></h1>
<section>
    <div class="section_content centered">
        {% if is_verified %}
        <p class="verification_success">Your account is verified!</p>
        {% else %}
        <p class="centered">Verify your account, check your email: <span class="tag">{{email}}</span></p>
        <form action="/verify/resend" method="post">
            <p>Resend verification email:</p>
            <button type="submit" {{"disabled" if blocked else ""}}>Resend</button>
            {% if blocked %}
            <br>
            <small class="tag">Cannot yet send another email</small>
            {% endif %}
        </form>
        {% endif %}
    </div>
</section>
{% endblock %}
