{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Verify | Git Glimpse{% endblock %}

<!-- prettier-ignore -->
{% block nav %} 
<a href="/dashboard">Dashboard</a>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1>Verify - {{g.user.login}}</h1>
{% if is_verified %}
<p class="verification_success">Your account is verified!</p>
{% else %}
<p>Verify your account, check your email: {{email}}</p>
<form action="/verify/resend" method="post">
    <p>Resend verification email</p>

    <button type="submit" {{"disabled" if blocked else ""}}>Resend</button>
    {% if blocked %}
    <small>Cannot yet send another email</small>
    {% endif %}
</form>
{% endif %}
{% endblock %}
