{% extends "base.html" %}
<!-- prettier-ignore -->
{% from "macros/table_views.html" import table_views %}
{% from "macros/pager.html" import pager %}
<!-- prettier-ignore -->
{% block title %}Views | Git Glimpse{% endblock %}
<!-- prettier-ignore -->
{% block head %}
<script src="{{url_for('static', filename='js/activity_display.js')}}" defer></script>
{% endblock %}

<!-- prettier-ignore -->
{% block nav %}
<a href="/user">Profile</a>
<a href="/dashboard">Dashboard</a>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1>Views</h1>
<section>
    <div class="section_header">
        <span>
            <h2>Views this month</h2>
            <small>(total: {{cviews}})</small>
        </span>
        {{ pager(page, is_last) }}
    </div>
    <div class="section_content">{{ table_views(views) }}</div>
</section>
{% endblock %}
