{% macro section_file(path, repo_id, parent_chain, is_text) %}
<section class="file">
    <div class="section_header">
        <h2>{{path.name}}</h2>
        <a
            href="/raw/{{repo_id|urlencode}}/{{parent_chain[-1]|urlencode}}/{{path.name|urlencode}}"
            >Raw</a
        >
    </div>
    <div class="section_content">
        {% if is_text %} {% for line in
        path.read_text(errors='skip').split('\n') %}
        <span class="file_contents_line">{{line if line else ' '}}</span>
        {% endfor %} {% else %}
        <small class="file_contents_nodisplay"
            >Cannot display this file...</small
        >
        {% endif %}
    </div>
</section>
{% endmacro %}
