{% macro table_users(users) %} {% if users.__len__() %}
<table class="table_display">
    <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Email</th>
        <th>Role</th>
        <th>Verified</th>
        <th>Created</th>
    </tr>
    {% for id, login, email, is_verified, role, created in users %}
    <tr>
        <td>{{id}}</td>
        <td><a href="/admin/users/{{id|urlencode}}">{{login}}</a></td>
        <td>{{email or "-"}}</td>
        <td>{{role}}</td>
        <td>{{'-' if not email else 'yes' if is_verified else 'no'}}</td>
        <td>{{created}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<small class="empty">Empty</small>
{% endif %} {% endmacro %}
