{% macro section_dir(section, repo_id, repo_name) %}
<section>
    <div class="section_header">
        <h2>{% if not section.is_root %} {{section.name}} {% else %} {{repo_name}} {% endif %}</h2>
        {% if section.is_root %}
        <a href="/raw/{{repo_id|urlencode}}/" class="buttonlike primary">Download</a>
        {% endif %}
    </div>
    <div>
        <ul class="section_list">
            {% if not section.is_root %}
            <li><a href="/repos{{section.parent_url}}">..</a></li>
            <!-- prettier-ignore -->
            {% endif %}
            {% for child in section.children %}
            <li>
                <a href="/repos{{child.url}}" class="list_item">
                    <img
                        src="{{url_for('static', filename=('images/' + child.icon))}}"
                        alt="{{child.type}}"
                    />
                    <span>{{child.name}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endmacro %}
