{% macro section_file(section) %}
<section>
    <div class="section_header">
        <h2>{{section.name}}</h2>
        <a href="/raw/{{section.url}}" class="buttonlike primary">Raw</a>
    </div>
    <div class="section_content {{'markdown' if section.is_markdown else ''}}">
        <!-- prettier-ignore -->
        {% if section.is_text() %} {# Is text file #}
        {% if section.is_markdown %} {# Is markdown #}
        {{section.load_content() | safe}}
        {% else %} {# Is not text file #}
        <!-- prettier-ignore -->
        {% for line in section.load_content().split('\n') %}
        <span class="file_contents_line">{{line if line else ' '}}</span>
        {% endfor %}
        <!-- prettier-ignore -->
        {% endif %}
        <!-- prettier-ignore -->
        {% else %} {# Is not a text file #}
        <small class="empty_msg">Cannot display this file...</small>
        {% endif %}
    </div>
</section>
{% endmacro %}
