{% macro table_views(views) %} {% if views.__len__() %}
<table>
    <tr>
        <th>Client</th>
        <th>Location</th>
        <th>Repositoy</th>
        <th>Time</th>
    </tr>
    {% for client, location, repo, timestamp in views %}
    <tr>
        <td>{{" ".join(client.split("_")).capitalize()}}</td>
        <td>
            <img
                src="{{'https://flagcdn.com/'+location.lower()+'.svg' if location else static_file('images/unflag.svg')}}"
                onerror="
                        this.src = '{{static_file('images/errflag.svg')}}';
                        this.onerror = null;
                "
                width="30"
                height="20"
                alt="{{location or 'Unknown'}}"
                title="{{location or 'Unknown'}}"
                style="cursor: help; display: block; margin: 0.125rem auto"
            />
        </td>
        <td>{{repo}}</td>
        <td>{{timestamp}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<small class="empty_msg">Empty</small>
{% endif %} {% endmacro %}
